@using MvcLocalization.LocalizationResources.Views.Shared
@if (Request.IsAuthenticated) {
    <text>
        @SharedStrings.LoginHello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">@SharedStrings.LoginLogoff</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink(SharedStrings.LoginRegister, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(SharedStrings.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
