@using MvcLocalization.LocalizationResources.Views.Items
@model IEnumerable<MvcLocalization.Web.Models.Item>

@{
    ViewBag.Title = ItemsStrings.ItemsListTitle;
}

<h2>@ItemsStrings.ItemsListTitle</h2>

<p>
    @Html.ActionLink(ItemsStrings.CreateNew, "Create")
</p>
<table id="itemsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProducedAt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @item.ProducedAt.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink(ItemsStrings.EditItem, "Edit", new { id = item.Id }) |
                @Html.ActionLink(ItemsStrings.DeleteItem, "Delete", new { id = item.Id }, new { @class = "delete-link" })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script src="~/Scripts/app/items.js"></script>
}
